<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>校园春光小额贷</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<script src="/ssm/Jquery/jquery-3.4.1.min.js"></script>
	</head>
	<body>
	<!-- start header -->
		<header>
			<div class="top center">
				<img src="/ssm/image/qiantai/indextop.png" class="indextop" style="height: 99px" >
				<div class="left fl">
					<ul>
						<li><a href="">春色校园贷</a></li>
						<li>|</li>
						<li><a href="./applyforloan">申请贷款</a></li>
						<li>|</li>
						<li><a href="./onlinepayment">在线还款</a></li>
						<li>|</li>
						<li><a href="./userinfo">个人信息</a></li>
						<li>|</li>
						<li><a href="./message">消息通知</a></li>
						<li>|</li>
						<li><a href="./problemfedback">问题反馈</a></li>
						<li>|</li>
						<li><a href="./aboutus">关于我们</a></li>
						<div class="clear"></div>
					</ul>
				</div>

				<div class="right fr">
					<div class="fr">
						<ul>
							<li>
								<a href="./login" target="_blank">登录</a>
							</li>
							<li>|</li>
							<li>
								<a href="./register" target="_blank" >注册</a>
							</li>
							<li>|</li>

						</ul>
					</div>
					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center" style='background:url("/ssm/image/qiantai/indexcenter.jpg")'>
		<!--	<img src="/ssm/image/qiantai/indexcenter.jpg" class="indexconter" style="width: 100%">-->
		</div>

	<div class="content_2" style="width: 1000px;height: 88px;margin: 2px auto;">
		<img src="/ssm/image/qiantai/indexcenter01.png">
	</div>
	<div class="content_3" style="width: 1000px;height: 88px;margin: 2px auto;">
		<img src="/ssm/image/qiantai/indexcenter02.png">
	</div>

<!-- end banner_x -->
		<footer class="mt20 center">
			<div class="footer_01" style="width: 1000px;height: 143px;border: #b98d8d solid 2px;margin: 41px auto;">
			<b>郑重承诺：未成功放款，绝不收取任何费用！市场有风险，选择需谨慎</b>
			<p>版权所有 校园春光小额贷款（郑州）有限公司</p>

			<p>Copyright LTD.All Rights Reserved</p>
			<span><a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17120252号</a></span>

			</div>
		</footer>

	</body>
	<!--<script>
		$(function(){
			$.ajax({
				type: "post",
				dataType: "json",
				url: '/loginresult',
				data: dataurl,
				success: function (data) {
					alert(data.username);
				}
			});
		})
	</script>-->

</html>